[defaults]

# some basic default values...

inventory           = aws_ec2.yml
private_key_file    = terragrunt_cred
remote_user         = ubuntu
host_key_checking = false

[inventory]
# enable inventory plugins, default: 'host_list', 'script', 'auto', 'yaml', 'ini', 'toml'
enable_plugins = aws_ec2, host_list, virtualbox, yaml, constructed, script, auto, ini, toml
