[Unit]
Description=Alert Manager
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/alertmanager --config.file={{ alert_manager_config_file }}
Restart=always

[Install]
WantedBy=multi-user.target
