<source>
  @type tail
  path /var/log/redis/*.log
  pos_file /var/log/td-agent/redis-server.log.pos
  tag redis.log
  <parse>
    @type none
  </parse>
  tag betterstack.redis-server.log
</source>

<match betterstack.**>
  @type stdout
</match>
