
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elasticsearch Ansible Role Documentation</title>
</head>
<body>
    <h1>Elasticsearch Ansible Role Documentation</h1>
    <h2 id="References">References</h2>
    <ul>
        <li><a href="https://docs.ansible.com">Ansible Documentation</a></li>
        <li><a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/index.html">Elasticsearch Documentation</a></li>
    </ul>
</body>
</html>


